<app-shared-header></app-shared-header>

<mat-card>
  <div class="flex">
    <div class="col-5">
      <div class="field">
        <mat-label>Buscar</mat-label>
        <mat-form-field appearance="outline" class="w-full">
          <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Digite algo..."
          />
        </mat-form-field>
      </div>
    </div>
    <div class="col-7">
      <div class="flex justify-content-end">
        <button mat-flat-button color="primary" (click)="goToCreate()">
          <mat-icon class="mr-2">add</mat-icon>
          Novo Veículo
        </button>
      </div>
    </div>
  </div>

  <app-vehicle-table-list
    [dataSource]="dataSource"
    [displayedColumns]="displayedColumns"
  ></app-vehicle-table-list>
</mat-card>
