:root {
  --mat-sys-background: #121212;
  --mat-sys-surface: #121212;
  --mat-sys-surface-bright: #1a1a1a;
  --mat-sys-surface-container: #1f1f1f;
  --mat-sys-surface-container-low: #181818;
  --mat-sys-surface-container-lowest: #0a0a0a;
  --mat-sys-surface-container-high: #232323;
  --mat-sys-surface-container-highest: #2e2e2e;
  --mat-sys-surface-dim: #101010;

  --mat-sys-primary: #1db954;
  --mat-sys-on-primary: #ffffff;
  --mat-sys-primary-container: #1db954;
  --mat-sys-on-primary-container: #ffffff;
  --mat-sys-primary-fixed: #1db954;
  --mat-sys-primary-fixed-dim: #14803c;
  --mat-sys-inverse-primary: #1db954;

  --mat-sys-secondary: #2e2e2e;
  --mat-sys-on-secondary: #ffffff;
  --mat-sys-secondary-container: #3c3c3c;
  --mat-sys-on-secondary-container: #e5e5e5;

  --mat-sys-tertiary: #3c3c3c;
  --mat-sys-on-tertiary: #ffffff;
  --mat-sys-tertiary-container: #474747;
  --mat-sys-on-tertiary-container: #e5e5e5;

  --mat-sys-error: #ef4444;
  --mat-sys-on-error: #ffffff;
  --mat-sys-error-container: #7f1d1d;
  --mat-sys-on-error-container: #fee2e2;

  --mat-sys-outline: #4b4b4b;
  --mat-sys-outline-variant: #2a2a2a;

  --mat-sys-inverse-surface: #f1f1f1;
  --mat-sys-inverse-on-surface: #121212;

  --mat-sys-shadow: #000000;
  --mat-sys-scrim: #000000;

  --mat-sys-on-background: #f1f1f1;
  --mat-sys-on-surface: #f1f1f1;
  --mat-sys-on-surface-variant: #d1d1d1;

  --mat-sys-surface-tint: #1db954;
}
