/* You can add global styles to this file, and also import other style files */
@use "./app/styles/main";

html,
body {
  height: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  color: var(--color-text);
}
