<mat-card class="mb-5">
  <div class="grid align-items-center">
    <div class="col-12">
      <div class="flex align-items-center gap-5">
        <button
          *ngIf="viewLink"
          mat-icon-button
          color="primary"
          (click)="viewLink()"
          aria-label="viewlink"
        >
          <mat-icon>arrow_back</mat-icon>
        </button>
        <div>
          <h2 class="m-0 font-bold">{{ title() }}</h2>
          <p class="mt-1 text-color-secondary">{{ subtitle() }}</p>
        </div>
      </div>
    </div>
  </div>
</mat-card>
